/*Acessibilidade*/

.titulo-paginas-acessibilidade{
font-family: "Reddit Sans", serif;
font-weight: 900;
}

.subtitulo-paginas-acessibilidade{
font-family: "Reddit Sans", serif;
font-weight: 700;

}

.topico-paginas-acessibilidade{
font-family: "Reddit Sans", serif;
font-weight: 400;
text-decoration: none;
align-items: flex-start !important;

}

.topico-paginas-acessibilidade:hover {
text-decoration: underline; /* Adiciona o sublinhado ao passar o mouse */
}

.triangulo-topico-acessibilidade{
flex-shrink: 0; /* Impede o encolhimento do SVG */
}

@media (max-width: 576px) {
.titulo-paginas-acessibilidade {
font-size: 26px; 
text-align: left; 
}
}

@media (min-width: 576px) {
    .titulo-paginas-acessibilidade {
    font-size: 40px; 
    text-align: left; 
    }
    }

@media (max-width: 576px) {
.subtitulo-paginas-acessibilidade {
font-size:30px; 
text-align: left;
}
}

@media (min-width: 576px) {
    .subtitulo-paginas-acessibilidade {
    font-size:45px; 
    text-align: left;
    }
    }

@media (max-width: 576px) {
.topico-paginas-acessibilidade {
font-size: 20px;
text-align: left;
}
}

@media (min-width: 576px) {
.triangulo-topico-acessibilidade  {
width:30px !important;
height: 30px !important;
}
}


@media (max-width: 576px) {
.triangulo-topico-acessibilidade  {
width:30px !important;
height: 30px !important;
}
}

@media (min-width: 768px) {
.titulo-paginas-acessibilidade {
font-size: 60px; 
text-align: left; 
}
}

@media (min-width: 768px) {
.subtitulo-paginas-acessibilidade {
font-size: 45px; 
text-align: left;
}
}

@media (min-width: 768px) {
.topico-paginas-acessibilidade{
font-size:25px; 
text-align: left;
}
}

@media (min-width: 768px) {
.triangulo-topico-acessibilidade  {
width:38px !important;
height: 38px !important;
}
}


@media (min-width: 992px) {
.titulo-paginas-acessibilidade {
font-size: 60px; 
text-align: left;
}
}

@media (min-width: 992px) {
.subtitulo-paginas-acessibilidade {
font-size: 50px; 
text-align: left;
}
}

@media (min-width: 992px) {
.topico-paginas-acessibilidade {
font-size:22px; 
text-align: left;
}
}

@media (min-width: 992px) {
.triangulo-topico-acessibilidade  {
width: 34px !important;
height: 34px !important;
}
}

@media (min-width: 1200px) {
.titulo-paginas-acessibilidade {
font-size: 70px; 
text-align: left;
}
}

@media (min-width: 1200px) {
.subtitulo-paginas-acessibilidade {
font-size: 50px; 
text-align: left;
}
}

@media (min-width: 1200px) {
.topico-paginas-acessibilidade {
font-size:23px; 
text-align: left;
}
}

@media (min-width: 1200px) {
.triangulo-topico-acessibilidade  {
width: 35px !important;
height: 35px !important;
}
}


@media (min-width: 1400px) {
.titulo-paginas-acessibilidade {
font-size: 80px; 
text-align: left;
}
}

@media (min-width: 1400px) {
.subtitulo-paginas-acessibilidade {
font-size:50px; 
text-align: left;
}
}

@media (min-width: 1400px) {
.topico-paginas-acessibilidade {
font-size:27px; 
text-align: left;
}
}

@media (min-width: 1400px) {
.triangulo-topico-acessibilidade  {
width: 41px !important;
height: 41px !important;
}
}