
.breadcrumb-item::before {
  color: #0D0D0D !important; /* Define a cor do divisor no modo normal */
}

/* Cor do divisor no modo escuro */
body.dark-mode .breadcrumb-item::before {
  color: white !important;  /* Altere para branco no modo escuro */
}

.marcador-vermelho {
  font-family: "Reddit Sans", serif !important;
  font-weight: 800 !important;
  color: #9f2b2f !important;
}

.marcador-azul {
  font-family: "Reddit Sans", serif !important;
  font-weight: 800 !important;
  color: #2f5499 !important;
}

.marcador-verde {
  font-family: "Reddit Sans", serif !important;
  font-weight: 800 !important;
  color: #475E18 !important;
}

.bolinha {
  list-style: disc !important;
  /* Sobrescreve o estilo do Bootstrap */
}

.referencias-artigos {
  font-family: "Reddit Sans", serif;
  font-weight: 400;
  align-items: flex-start !important;
  text-decoration: none;
}

.referencias-artigos:hover {
  text-decoration: underline;
}

.grifado-vermelho {
  background-color: #9f2b2f;
  padding: 2px;
  color: #fff;
}

.grifado-azul {
  background-color: #31579e;
  padding: 2px;
  color: #fff;
}

.grifado-verde {
  background-color: #475E18;
  padding: 2px;
  color: #fff;
}

.legenda-artigo {
  font-family: "Reddit Sans", serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.p-artigo {
  font-family: "Reddit Sans", serif;
  font-weight: 400;
}

.subtitulo-artigo {
  font-family: "Reddit Sans", serif;
  font-weight: 900;
}

.triangulo-topico {
  flex-shrink: 0;
}

.numero-topico {
  flex-shrink: 0;
}

.neste-artigo-titulo {
  font-family: "Reddit Sans", serif;
  font-weight: 800;
  border-radius: 15px;
}

.resumo-linha {
  width: 10px !important;
  border-radius: 15px;
  opacity: 100%;
}

.resumo-texto {
  font-family: "Reddit Sans", serif !important;
  font-weight: 300 !important;
}

.breadcrumb {
  font-family: "Reddit Sans", serif;
  font-weight: 600;
  font-size: 14px;
}

.breadcrumb-item.active {
  font-family: "Reddit Sans", serif;
  font-weight: 400;
  font-size: 14px;
}

.titulo-artigo {
  font-family: "Reddit Sans", serif !important;
  font-weight: 900 !important;
}

.texto-autora-artigo {
  font-family: "Reddit Sans", serif;
  font-weight: 700;
}

.texto-destaque-artigo {
  font-family: "Reddit Sans", serif;
  font-weight: 800;
}

.texto-detalhe-artigo {
  font-family: "Reddit Sans", serif !important;
  font-weight: 400 !important;
}

.topico-paginas-artigos:hover {
  text-decoration: underline;
}

.topico-paginas-artigos {
  font-family: "Reddit Sans", serif;
  font-weight: 400;
  text-decoration: none;
  align-items: flex-start !important;
}

.botao-artigo{
  border-radius: 5px 5px 5px 5px ;
  border: none;
  font-family: "Reddit Mono", serif !important;
  font-weight: 800;
  
  }

main a.botao-artigo:visited {
    color: #ffffff; /* Mantém a cor padrão dos botões */
}  

@media (max-width: 576px) {
  .referencias-artigos {
    font-size: 20px;
    text-align: left;
  }
}

@media (min-width: 576px) {
  .titulo-artigo {
    font-size: 60px;
    text-align: left;
  }
}

@media (min-width: 576px) {
  .subtitulo-artigo {
    font-size: 30px;
  }
}

@media (min-width: 576px) {
  .texto-autora-artigo,
  .texto-detalhe-artigo {
    font-size: 16px;
    text-align: left;
  }
}

@media (min-width: 576px) {
  .p-artigo,
  .resumo-texto {
    font-size: 20px;
    text-align: left;
  }
}

@media (min-width: 576px) {
  .neste-artigo-titulo {
    font-size: 25px;
    text-align: center;
  }
}

@media (min-width: 576px) {
  .triangulo-topico {
    width: 30px !important;
    height: 30px !important;
  }
}

@media (min-width: 576px) {
  #botão-navegacao {
    width: 35px !important;
    height: 35px !important;
  }
}

@media (min-width: 576px) {
  #botão-navegacao2 {
    width: 35px !important;
    height: 35px !important;
  }
}

@media (min-width: 576px) {
  .numero-topico {
    width: 35px !important;
    height: 35px !important;
  }
}

@media (max-width: 576px) {
  .titulo-artigo {
    font-size: 30px;
    text-align: left;
  }
}

@media (max-width: 576px) {
  .subtitulo-artigo {
    font-size: 25px;
  }
}

@media (max-width: 576px) {
  .texto-autora-artigo,
  .texto-detalhe-artigo {
    font-size: 16px;
    text-align: left;
  }
}

@media (max-width: 576px) {
  .p-artigo,
  .resumo-texto {
    font-size: 18px;
    text-align: left;
  }
}

@media (max-width: 576px) {
  .neste-artigo-titulo {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .triangulo-topico {
    width: 30px !important;
    height: 30px !important;
  }
}

@media (max-width: 576px) {
  #botão-navegacao {
    width: 35px !important;
    height: 35px !important;
  }
}

@media (max-width: 576px) {
  #botão-navegacao2 {
    width: 35px !important;
    height: 35px !important;
  }
}

@media (max-width: 576px) {
  .numero-topico {
    width: 35px !important;
    height: 35px !important;
  }
}

@media (max-width: 576px) {
  .topico-paginas-artigos {
    font-size: 20px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .referencias-artigos {
    font-size: 25px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .titulo-artigo {
    font-size: 42px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .subtitulo-artigo {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .texto-autora-artigo,
  .texto-detalhe-artigo {
    font-size: 16px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .p-artigo,
  .resumo-texto {
    font-size: 25px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .neste-artigo-titulo {
    font-size: 30px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .triangulo-topico {
    width: 38px !important;
    height: 38px !important;
  }
}

@media (min-width: 768px) {
  .numero-topico {
    width: 38px !important;
    height: 38px !important;
  }
}

@media (min-width: 768px) {
  .topico-paginas-artigos {
    font-size: 25px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .referencias-artigos {
    font-size: 22px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .titulo-artigo {
    font-size: 55px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .subtitulo-artigo {
    font-size: 35px;
  }
}

@media (max-width: 992px) {
  .texto-autora-artigo,
  .texto-detalhe-artigo {
    font-size: 16px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .p-artigo,
  .resumo-texto {
    font-size: 22px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .neste-artigo-titulo {
    font-size: 25px;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .triangulo-topico {
    width: 34px !important;
    height: 34px !important;
  }
}

@media (min-width: 992px) {
  .numero-topico {
    width: 40px !important;
    height: 40px !important;
  }
}

@media (min-width: 992px) {
  .topico-paginas-artigos {
    font-size: 22px;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .referencias-artigos {
    font-size: 23px;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .titulo-artigo {
    font-size: 64px;
    text-align: left;
  }
}

@media (max-width: 1200px) {
  .texto-autora-artigo,
  .texto-detalhe-artigo {
    font-size: 16px;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .subtitulo-artigo {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .p-artigo,
  .resumo-texto {
    font-size: 24px;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .neste-artigo-titulo {
    font-size: 30px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .triangulo-topico {
    width: 35px !important;
    height: 35px !important;
  }
}

@media (min-width: 1200px) {
  .numero-topico {
    width: 35px !important;
    height: 35px !important;
  }
}

@media (min-width: 1200px) {
  .topico-paginas-artigos {
    font-size: 23px;
    text-align: left;
  }
}

@media (min-width: 1400px) {
  .referencias-artigos {
    font-size: 27px;
    text-align: left;
  }
}

@media (min-width: 1400px) {
  .titulo-artigo {
    font-size: 64px;
    text-align: left;
  }
}

@media (max-width: 1400px) {
  .texto-autora-artigo,
  .texto-detalhe-artigo {
    font-size: 16px;
    text-align: left;
  }
}

@media (min-width: 1400px) {
  .subtitulo-artigo {
    font-size: 34px;
  }
}

@media (min-width: 1400px) {
  .p-artigo,
  .resumo-texto {
    font-size: 24px;
    text-align: left;
  }
}

@media (min-width: 1400px) {
  .neste-artigo-titulo {
    font-size: 25px;
    text-align: center;
  }
}

@media (min-width: 1400px) {
  .triangulo-topico {
    width: 41px !important;
    height: 41px !important;
  }
}

@media (min-width: 1400px) {
  .numero-topico {
    width: 41px !important;
    height: 41px !important;
  }
}

@media (min-width: 1400px) {
  .topico-paginas-artigos {
    font-size: 27px;
    text-align: left;
  }
}

@media (min-width: 1800px) {
  #imagem-autora {
    width: 85px !important;
  }
}

@media (max-width: 576px) {
  .botao-artigo {
  font-size: 18px; 
  text-align: left;
  }
  }

@media (min-width: 576px) {
  .botao-artigo {
  font-size: 29px; 
  text-align: left;
  }
  }

@media (min-width: 768px) {
  .botao-artigo {
  font-size: 18px; 
  text-align: left;
  }
  }

@media (min-width: 992px) {
  .botao-artigo {
  font-size: 18px; 
  text-align: left;
  }
  }

@media (min-width: 1200px) {
  .botao-artigo {
  font-size: 24px; 
  text-align: left;
  }
  }

@media (min-width: 1400px) {
  .botao-artigo {
  font-size: 26px; 
  text-align: left;
  }
  }
