/*Ferramentas*/
.titulo-card{
    font-family: "Reddit Sans", serif;
    font-weight: 800;
    }
    
    .texto-card{
    font-family: "Reddit Sans", serif;
    font-weight: 400;
    }
    
    .borda-card{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 6px 0px rgb(13, 13, 13, 0.5);
    }
    
    .titulo-paginas-ferramentas{
    font-family: "Reddit Sans", serif;
    font-weight: 900;
    }
    
    .subtitulo-paginas-ferramentas{
    font-family: "Reddit Sans", serif;
    font-weight: 900;
    
    }
    
    @media (max-width: 576px) {
    .titulo-paginas-ferramentas {
    font-size: 44px; 
    text-align: left; 
    }
    }
    
    @media (max-width: 576px) {
    .subtitulo-paginas-ferramentas {
    font-size:45px; 
    text-align: left;
    }
    }
    
    /*Especifico para Subtítulo de ferramentas*/
    @media (max-width: 576px) {
    #titulo-ferramentas {
    font-size: 60px; 
    text-align: left; 
    }
    }
    
    @media (max-width: 576px) {
    .titulo-card {
    font-size: 35px; 
    text-align: left; 
    }
    }
    
    @media (max-width: 576px) {
    .texto-card {
    font-size: 25px; 
    text-align: left;
    }
    }
    
    @media (min-width: 576px) {
    .titulo-cards {
    font-size: 35px; 
    text-align: left; 
    }
    }
    
    @media (min-width: 576px) {
    .texto-card {
    font-size:25px; 
    text-align: left;
    }
    }
    
    
    @media (min-width: 768px) {
    .titulo-paginas-ferramentas {
    font-size: 60px; 
    text-align: left; 
    }
    }
    
    @media (min-width: 768px) {
    .subtitulo-paginas-ferramentas {
    font-size: 45px; 
    text-align: left;
    }
    }
    
    @media (min-width: 768px) {
    .titulo-card {
    font-size: 25px; 
    text-align: left; 
    }
    }
    
    @media (min-width: 768px) {
    .texto-card {
    font-size: 20px; 
    text-align: left;
    }
    }
    
    @media (min-width: 992px) {
    .titulo-paginas-ferramentas {
    font-size: 60px; 
    text-align: left;
    }
    }
    
    @media (min-width: 992px) {
    .subtitulo-paginas-ferramentas {
    font-size: 50px; 
    text-align: left;
    }
    }
    
    
    @media (min-width: 992px) {
    .titulo-card {
    font-size: 35px; 
    text-align: left;
    }
    }
    
    @media (min-width: 992px) {
    .texto-card {
    font-size: 25px; 
    text-align: left;
    }
    }
    
    
    @media (min-width: 1200px) {
    .titulo-paginas-ferramentas {
    font-size: 70px; 
    text-align: left;
    }
    }
    
    @media (min-width: 1200px) {
    .subtitulo-paginas-ferramentas {
    font-size: 50px; 
    text-align: left;
    }
    }
    
    @media (min-width: 1200px) {
    .titulo-card {
    font-size: 27px; 
    text-align: left;
    }
    }
    
    @media (min-width: 1200px) {
    .texto-card {
    font-size: 23px; 
    text-align: left;
    }
    }
    
    @media (min-width: 1400px) {
    .titulo-paginas-ferramentas {
    font-size: 80px; 
    text-align: left;
    }
    }
    
    @media (min-width: 1400px) {
    .subtitulo-paginas-ferramentas {
    font-size:50px; 
    text-align: left;
    }
    }
    
    @media (min-width: 1400px) {
    .titulo-card {
    font-size: 34px; 
    text-align: left;
    }
    }
    
    @media (min-width: 1400px) {
    .texto-card {
    font-size:23px; 
    text-align: left;
    }
    }
    
    