/*Index*/

* {
    transition: font-size 0.3s ease;
  }
  


.botao-acesse2 {
    border-radius: 15px 15px 15px 15px;
    border: none;
    background: #ffffff;
    font-family: "Reddit Mono", serif !important;
    font-weight: 800;
    color:#9F2B2F;

}

.botao-acesse {
    border-radius: 15px 15px 15px 15px;
    border: none;
    background: #ffffff;
    font-family: "Reddit Mono", serif !important;
    font-weight: 800;
    color:#475E18;

}

.shadow-left {
    box-shadow: -15px 20px 0px #384916;
    /* Sombra para a esquerda */
}


#borda-grande {
    border-radius: 59px;
}

.h1-inicio {
    font-family: "Reddit Sans", serif !important;
    font-weight: 900;
}

.h1-inicio2,
.h2-inicio2,
.h1-inicio3 {
    font-family: "Reddit Sans", serif !important;
    font-weight: 900;
}

.p-inicio-index {
    font-family: "Reddit Sans", serif !important;
    font-weight: 500;
}

.inicio-index {
    background: #475E18;
    border-radius: 25px;
}

@media (max-width: 576px) {
    .botao-acesse {
        font-size: 25px;
        text-align: center;
    }
}


@media (min-width: 576px) {
    .botao-acesse {
        font-size: 30px;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .botao-acesse2 {
        font-size: 17px;
        text-align: center;
    }
}

@media (min-width: 576px) {
    .botao-acesse2 {
        font-size: 30px;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .h1-inicio {
        font-size: 35px;
        text-align: center;
    }
}

@media (min-width: 576px) {
    .h1-inicio {
        font-size: 60px;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .h2-inicio2 {
        font-size: 30px;
        text-align: left;
    }
}

@media (min-width: 576px) {
    .h2-inicio2 {
        font-size: 30px;
        text-align: left;
    }
}

@media (max-width: 576px) {
    .h1-inicio3 {
        font-size: 35px;
        text-align: center;
    }
}

@media (min-width: 576px) {
    .h1-inicio3 {
        font-size: 40px;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .h1-inicio2 {
        font-size: 40px;
        text-align: center;
    }
}

@media (min-width: 576px) {
    .h1-inicio2 {
        font-size: 40px;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .p-inicio-index {
        font-size: 20px;
        text-align: center;
    }
}


@media (min-width: 576px) {
    .p-inicio-index {
        font-size: 30px;
        text-align: center;
    }
}


@media (min-width: 768px) {
    .botao-acesse {
        font-size: 40px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .botao-acesse2 {
        font-size: 20px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .h1-inicio {
        font-size: 70px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .h1-inicio3 {
        font-size: 50px;
        text-align: left;
    }
}

@media (min-width: 768px) {
    .h2-inicio2 {
        font-size: 25px;
        text-align: left;
    }
}

@media (min-width: 768px) {
    .h1-inicio2 {
        font-size: 50px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .p-inicio-index {
        font-size: 40px;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .botao-acesse {
        font-size: 20px;
        text-align: justify;
    }
}

@media (min-width: 992px) {
    .botao-acesse2 {
        font-size: 20px;
        text-align: justify;
    }
}

@media (min-width: 992px) {
    .h1-inicio {
        font-size: 30px;
        text-align: justify;
    }
}

@media (min-width: 992px) {
    .h1-inicio3 {
        font-size: 60px;
        text-align: justify;
    }
}

@media (min-width: 992px) {
    .h2-inicio2 {
        font-size: 30px;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .h1-inicio2 {
        font-size: 70px;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .p-inicio-index {
        font-size: 20px;
        text-align: justify;
    }
}


@media (min-width: 1200px) {
    .botao-acesse {
        font-size: 25px;
        text-align: justify;
    }
}

@media (min-width: 1200px) {
    .botao-acesse2 {
        font-size: 25px;
        text-align: justify;
    }
}

@media (min-width: 1200px) {
    .h1-inicio {
        font-size: 40px;
        text-align: justify;
    }
}

@media (min-width: 1200px) {
    .h1-inicio3 {
        font-size: 70px;
        text-align: left;
    }
}


@media (min-width: 1200px) {
    .h2-inicio2 {
        font-size: 40px;
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .h1-inicio2 {
        font-size: 70px;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .p-inicio-index {
        font-size: 25px;
        text-align: justify;
    }
}


@media (min-width: 1400px) {
    .botao-acesse {
        font-size: 25px;
        text-align: justify;
    }
}

@media (min-width: 1400px) {
    .botao-acesse2 {
        font-size: 25px;
        text-align: justify;
    }
}

@media (min-width: 1400px) {
    .h1-inicio {
        font-size: 50px;
        text-align: justify;
    }
}

@media (min-width: 1400px) {
    .h1-inicio3 {
        font-size: 80px;
        text-align: left;
    }
}

@media (min-width: 1400px) {
    .h2-inicio2 {
        font-size: 35px;
        text-align: left;
    }
}

@media (min-width: 1400px) {
    .h1-inicio2 {
        font-size: 70px;
        text-align: center;
    }
}

@media (min-width: 1400px) {
    .p-inicio-index {
        font-size: 25px;
        text-align: justify;
    }
}