/*Sobre*/

#borda-grande2{
border-radius: 59px;
}

.subtopico-paginas-sobre{
font-family: "Reddit Sans", serif;
font-weight: 800;

}

.titulo-paginas-sobre{
font-family: "Reddit Sans", serif;
font-weight: 900;
}

.subtitulo-paginas-sobre{
font-family: "Reddit Sans", serif;
font-weight: 900;
}

.p-inicio-sobre, .p-email{
font-family: "Reddit Sans", serif;
font-weight: 400;

}

@media (max-width: 425px) {
    .icone-email {
        display: none; /* Oculta o elemento */
    }
}

@media (max-width: 576px) {
.icone-email {
width: 20px;
height:20px;

}
}

@media (min-width: 576px) {
.icone-email {
width: 40px;
height:40px;

}
}

@media (min-width: 768px) {
.icone-email {
width: 40px;
height:40px;

}
}

@media (min-width: 992px) {
.icone-email {
width: 40px;
height:40px;

}
}

@media (min-width: 1200px) {
.icone-email {
width: 40px;
height:40px;

}
}

@media (min-width: 1400px) {
.icone-email {
width: 40px;
height:40px;

}
}

@media (max-width: 576px) {
.titulo-paginas-sobre {
font-size: 35px; 
text-align: left !important; 
}
}

@media (min-width: 576px) {
.titulo-paginas-sobre {
font-size: 49px; 
text-align: left; 
}
}

@media (max-width: 576px) {
.subtitulo-paginas-sobre {
font-size: 30px; 
text-align: left; 
}
}

@media (min-width: 576px) {
.subtitulo-paginas-sobre {
font-size: 70px; 
text-align: center; 
}
}

@media (max-width: 576px) {
.subtopico-paginas-sobre {
font-size: 25px; 

}
}    

@media (min-width: 576px) {
.subtopico-paginas-sobre {
font-size: 55px; 

}
}

@media (max-width: 576px) {
.p-email{
font-size: 15px; 
text-align: left;
}
}

@media (min-width: 576px) {
.p-email{
font-size: 25px; 
text-align: left;
}
}

@media (max-width: 576px) {
.p-inicio-sobre {
font-size: 18px; 
text-align: left;
}
}

@media (min-width: 576px) {
.p-inicio-sobre {
font-size: 25px; 
text-align: left;
}
}

@media (min-width: 768px) {
.titulo-paginas-sobre {
font-size: 60px; 
text-align: left; 
}
}

@media (min-width: 768px) {
.subtitulo-paginas-sobre {
font-size: 70px; 
text-align: left; 
}
}

@media (min-width: 768px) {
.subtopico-paginas-sobre {
font-size: 60px; 

}
}    

@media (min-width: 768px) {
.p-inicio-sobre, .p-email{
font-size: 25px; 
text-align: left;
}
}

@media (min-width: 992px) {
.titulo-paginas-sobre {
font-size: 80px; 
text-align: left;
}
}

@media (min-width: 992px) {
.subtitulo-paginas-sobre {
font-size: 70px; 
text-align: left;
}
}

@media (min-width: 992px) {
.subtopico-paginas-sobre {
font-size: 40px; 

}
}    

@media (min-width: 992px) {
.p-inicio-sobre, .p-email {
font-size: 20px; 
text-align: left;
}
}

@media (min-width: 1200px) {
.titulo-paginas-sobre {
font-size: 100px; 
text-align: left;
}
}

@media (min-width: 1200px) {
.subtitulo-paginas-sobre {
font-size: 70px; 
text-align: left;
}
}

@media (min-width: 1200px) {
.subtopico-paginas-sobre {
font-size: 50px; 

}
}    

@media (min-width: 1200px) {
.p-inicio-sobre, .p-email{
font-size: 20px; 
text-align: left;
}
}

@media (min-width: 1400px) {
.titulo-paginas-sobre {
font-size: 100px; 
text-align: left;
}
}

@media (min-width: 1400px) {
.subtitulo-paginas-sobre {
font-size: 80px; 
text-align: left;
}
}


@media (min-width: 1400px) {
.subtopico-paginas-sobre {
font-size: 50px; 

}
}    

@media (min-width: 1400px) {
.p-inicio-sobre, .p-email  {
font-size: 24px; 
text-align: left;
}
}


